 body {
    font-family: 'segoe ui', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #a09e9e;
    display: flex;
    justify-content: center;
    align-items: center;height: 100vh;
}
.card {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    overflow: hidden;
}
.card img {
    border-radius: 10px;
    width: auto;
    height: auto;
    margin-right: 20px;
}
.info h1 {
    font-size: 24px;
    margin-bottom: 0px;
}
.social-links{
    margin-right: 15px;
    font-size: 18px;
    color: #555;
    transition: color 0.3s ease;
}
.social-links a {
    margin-right: 15px;
    font-size: 18px;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}
.social-links a:hover {
    color: #130c79;
    text-decoration: underline;
}