body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    padding: 0 2rem;
    height: 60px;
}

.logo {
    color: #bb9c53;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    color: #f9be40;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #ff9800;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.burger span {
    display: block;
    width: 25px;
    height: 3px;
    background: #e47a33;
    border-radius: 2px;
    transition: 0.3s;
}

/* Responsive */
@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        right: 0;
        top: 60px;
        background: #bb0606;
        flex-direction: column;
        width: 200px;
        height: 0;
        overflow: hidden;
        transition: height 0.3s;
        gap: 0;
    }
    .nav-links.open {
        height: 180px;
        padding: 1rem 0;
    }
    .nav-links li {
        text-align: center;
        margin: 1rem 0;
    }
    .burger {
        display: flex;
    }
}